@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  font-family: 'Luckiest Guy';
  background: #315a7d; }

.text_3d {
  font-size: 5rem;
  color: #eee;
  text-shadow: 1px 1px #111, 1px 1px #111, 2px 2px #111, 3px 3px #111, 4px 4px #111, 5px 5px #111, 6px 6px #111, 7px 7px #111, 8px 8px #111, 9px 9px #111, 10px 10px #111, 11px 11px #111, 12px 12px #111, 13px 13px #111, 14px 14px #111, 15px 15px #111, 16px 16px #111, 17px 17px #111, 18px 18px #111, 19px 19px #111, 20px 20px #111; }
